@import "../variables/variables.scss";
body {
    background-color: $color3;
   -webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

}
@media (max-width: 480px) {
    
    .gamediv {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 300px; 
            border: .5px solid $color1;
            padding: 1px;
        }
    }
    h5 {
        @include titleStyle(30px);
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .gameinfo {
        li {
            list-style: none;
            font-family: $font3;
        }
        @include postStyle(60%, 175px)
    }
    .desc {
        @include postStyle(80%, 300px);
        padding: 10px;
        font-family: $font3;
    }
    .infobox {
        @include postStyle(40%, 150px);
        font-family: $font3;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .gamediv {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        img {
            width: 400px; 
            border: .5px solid $color1;
            padding: 1px;
        }
    }
    h5 {
        @include titleStyle(70px);
        margin: 40px;
    }
    .gameinfo {
        li {
            list-style: none;
            font-family: $font3;
        }
        @include postStyle(60%, 175px)
    }
    .desc {
        @include postStyle(80%, 300px);
        padding: 10px;
        font-family: $font3;
    }
    .infobox {
        @include postStyle(40%, 150px);
        font-family: $font3;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .gamediv {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        img {
            width: 400px; 
            border: .5px solid $color1;
            padding: 1px;
        }
    }
    h5 {
        @include titleStyle(70px);
        margin: 40px;
    }
    .gameinfo {
        li {
            list-style: none;
            font-family: $font3;
        }
        @include postStyle(60%, 175px)
    }
    .desc {
        @include postStyle(80%, 300px);
        padding: 10px;
        font-family: $font3;
    }
    .infobox {
        @include postStyle(40%, 150px);
        font-family: $font3;
    }
}
@media (min-width: 1025px){
    .gamediv {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        img {
            width: 400px; 
            border: .5px solid $color1;
            padding: 1px;
        }
    }
    h5 {
        @include titleStyle(200px);
        margin: 40px;
    }
    .gameinfo {
        li {
            list-style: none;
            font-family: $font3;
        }
        @include postStyle(60%, 250px)
    }
    .desc {
        @include postStyle(80%, 500px);
        padding: 10px;
        font-family: $font3;
    }
    .infobox {
        @include postStyle(40%, 150px);
        font-family: $font3;
    }
}