@import "../variables/variables.scss";

body {
    text-align: center;
}
.inputs {
    @include inputStyle();
}
.btn {
    @include buttonStyle($color1, 20px)
}
h2 {
    font-family: $font3;
    color: $color4;
}
.logindiv {
    margin: 50px;
}

@media (max-width: 480px) {

} 
@media (min-width: 481px) and (max-width: 768px) {

}
@media (min-width: 769px) and (max-width: 1024px) {

}
@media (min-width: 1025px) {
    
}
