@import "../variables/variables.scss";

.registerDiv {
    margin: 0 auto;
}
.inputs {
    @include inputStyle();
}
.btn {
    @include buttonStyle($color1, 20px)
}
h2 {
    font-family: $font3;
    color: $color4;
    margin-top: 20px;
}