@import "../variables/variables.scss";

.rate {
    height: 46px;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
}

div.rate {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.review-form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    border: .5px solid $color1;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

p {
    font-family: $font3;
    color: $color4;
    margin: 5px 0 5px 0;
}

span {
    color: $color4;
    font-family: $font2;
}

.reviews-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.review-card {
    border: .5px solid $color1;
    margin: 10px;
    
}


.review-game-title {
    margin: 10px 0 10px 0;
}

.review-title {
    color: $color1;
    text-decoration: underline;
    margin: 5px 0 5px 0;
}

.review-author {
    margin: 5px 0 5px 0;
    color: $color1;
}

.review-info {
    border: .5px solid $color1;
    width: 80%;
    margin: 0 auto;
}

.review-body {
    max-width: 250px;
    margin: 0 auto;
}


.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

@media (max-width: 480px) {

}
@media (min-width: 481px) and (max-width: 768px) {

}
@media (min-width: 769px) and (max-width: 1024px) {

}
@media (min-width: 1025px) and (max-width: 1280px) {

}
@media (min-width: 1281px){

}