//FONTS
$font1: 'VT323', monospace;
$font2: 'Bebas Neue', cursive;
$font3: 'Oswald', sans-serif;
//COLORS
$color1: #C41E3D;
$color2: #662C91;
$color3: #121113;
$color4: #FFB627;
$color5: #72DDF7;
$color6: #252525;

//VARIABLES
@mixin buttonStyle($bgcolor, $size) {
    background-color: $bgcolor;
    font-size: $size;
    color: #FFF;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    
    }
}

@mixin logoStyle() {
    font-family: $font1;
    font-size: 40px;
    color: $color4;
    text-shadow: 2px 0px $color1, 4px 0px $color2, 6px 0px $color4, 8px 0px $color5;
}

    @mixin linkStyle($color, $shadow, $size) {
    font-family: $font3;
    color: $color;
    font-size: $size;
    text-shadow: 2px 2px 0 $shadow;
    text-decoration: none;

    &:hover {
        color: $shadow;
        text-shadow: 2px 2px 0 $color;
    }

}
@mixin titleStyle($size) {
        font-family: $font2;
        color: $color1;
        font-size: $size;
        text-shadow: 2px 3px 0 $color4;
}
@mixin postStyle($width, $height) {
    width: $width;
    height: $height;
    background-color: $color6;
    color: $color1;
    overflow: scroll;
    border: .5px solid $color4;
    margin: 10px;
    padding: 1px;
}
@mixin inputStyle() {
    margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 3px solid $color1;
  border-top: none;
  border-left: none;
  border-right: none;
  background: $color3;
  color: $color1;
  outline: none;
  border-radius: 5px;

}